body {
  background: #29596B;
  color: white;
}

.navbar .style {
  background: white;
  color: #29596B;
}

.navbar .style:hover {
  color: #6F9B37;
}

#list a {
  background: #6F9B37;
  color: white;
}

#email a{
  background: #6F9B37;
  color: white;
}

#register a{
  background: #6F9B37;
  color: white;
}

#login a{
  background: #6F9B37;
  color: white;
}

#home a{
  background: #6F9B37;
  color: white;
}

button#logout{
  background: #6F9B37;
  color: white;
  border: 0px;
}

div#navbar {
  background: #6F9B37;
  color: white;
}

.container-fluid#navBlue{
  background: #6F9B37;
  color: white;
}
