nav.navbar.navbar-default
  .container-fluid#navBlue
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.style(href='/') Todo List
    #navbar.collapse.navbar-collapse
      form.navbar-form.navbar-left(method='post', action='/users/logout')
        if email
          button#logout.btn.btn-default Logout
      ul.nav.navbar-nav.navbar-right.blueWhite
        li#home.active.blueWhite: a(href='/'): i.fa.fa-home &nbsp; Home
        if email
          li#list.active.blueWhite: a(href='/items'): i.fa.fa-leaf &nbsp; Leaf List
          li#email.active.blueWhite: a(href='#')= email || 'anonymous'  
        else
          li#register.active.blueWhite: a(href='/register'): i.fa.fa-pencil &nbsp; Register
          li#login.active.blueWhite: a(href='/login'): i.fa.fa-sliders &nbsp; Login
