extends ../../layouts/master
block content
  h3.page-header Create User
  
  form(method='get', action='/login/authenticate')
    .form-group
      label(for='email') Email
      input#email.form-control(type='email', name='email', autofocus=true)
    .form-group
      label(for='password') Password
      input(type='password', name='password')
    .form-group
      button.btn.btn-success(type='submit') Login
