extends ../../layouts/master
block content
  .col-xs-2
  .col-xs-8
    .jumbotron
      h3.page-header.headerStyle Register
      form(method='post', action='/users')
        .form-group
          label.formStyle(for='email') Email
          input#email.form-control(type='email', name='email', autofocus=true)
        .form-group
          label.formStyle(for='password') Password
          input#password.form-control(type='password', name='password')
        .form-group
          button.btn.btn-success(type='submit') Register User
